<tr>
  <td>
    <% if member.image.attached? %>
      <%= image_tag member.image, class: "img_user_dash" %>
    <% elsif member.fb_ava? %>
      <%= image_tag member.fb_ava, class: "img_user_dash" %>
    <% end %>
    <%= link_to member.name, admin_user_path(member.id) %>
  </td>
  <td><%= member.email %></td>
  <td><span class="badge badge-success"><%= member.status %></span></td>
  <td>
    <%= time_tag member.created_at %>
  </td>
</tr>
