<% provide :title, t("home") %>
<% provide :small_banner, t("intro") %>
<% provide :big_banner, t("intro_burger") %>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="feature">
        <div class="shack_burger">
          <div class="chicken">
            <%= image_tag Settings.img_chicken, alt: "" %>
          </div>

          <h2><%= t "data" %></h2>
          <p><%= t "data" %></p>
        </div>
        <p class="caption"><%= t "data" %></p>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="signature">
          <div class="shape">
            <span class="flaticon flaticon-burger"></span>
            <p><%= t "data" %></p>
          </div>
          <div class="signature_content">
            <p><%= t "data" %></p>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="classic">
        <%= link_to t("data"), "", class: "classic_btn" %>
        <div class="overlay">
          <h3><%= t "data" %></h3>
          <p><%= t "data" %></p>

          <p class="overlay_content"><%= t "data" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div id="small_carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#small_carousel" data-slide-to="0" class="active"></li>
          <li data-target="#small_carousel" data-slide-to="1"></li>
          <li data-target="#small_carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-caption">
          <h3><%= t "data" %></h3>
          <hr />

          <ul class="list-unstyled nutrition">
            <li>
              <%= link_to t("data"), "", class: "flaticon flaticon-protein" %>
            </li>
            <li>
              <%= link_to t("data"), "", class: "flaticon flaticon-carbohydrate" %>
            </li>
            <li>
              <%= link_to t("data"), "", class: "flaticon flaticon-calories" %>
            </li>
          </ul>
          <div class="info_btn_shadow">
            <%= link_to t("data"), "", class: "info_btn" %>
          </div>
        </div>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag Settings.caro_img, alt: "" %>
          </div>
          <div class="item">
            <%= image_tag Settings.caro_img, alt: "" %>
          </div>
          <div class="item">
            <%= image_tag Settings.caro_img, alt: "" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag Settings.caro_big_img, alt: "" %>
        <div class="carousel-caption">
          <h2><%= t "data" %></h2>
          <h3><%= t "data" %></h3>

          <p><%= t "data" %></p>

          <div class="info_btn_shadow">
            <%= link_to t("data"), "", class: "info_btn" %>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag Settings.caro_big_img, alt: "" %>
        <div class="carousel-caption">
          <h2><%= t "data" %></h2>
          <h3><%= t "data" %></h3>

          <p><%= t "data" %></p>

          <div class="info_btn_shadow">
            <%= link_to t("data"), "", class: "info_btn" %>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag Settings.caro_big_img, alt: "" %>
        <div class="carousel-caption">
          <h2><%= t "data" %></h2>
          <h3><%= t "data" %></h3>

          <p><%= t "data" %></p>

          <div class="info_btn_shadow">
            <%= link_to t("data"), "", class: "info_btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row forth_sec">
    <div class="col-sm-4">
      <div class="menu">
        <div class="inner_content">
          <span class="flaticon flaticon-burger"></span>
          <h2><%= t "data" %></h2>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="drinks">
        <div class="inner_content">
          <span class="flaticon flaticon-drink"></span>
          <h2><%= t "data" %></h2>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="sides">
        <div class="inner_content">
          <span class="flaticon flaticon-food"></span>
          <h2><%= t "data" %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
