<tr class="trow">
  <td></td>
  <td>
    <%= image_tag order_detail.product.picture.storage, alt: "", class: "product_img" %>
    <p class="product_name"><%= order_detail.product.name %></p>
  </td>
  <td><%= order_detail.price %></td>
  <td><%= order_detail.quantily %></td>
  <td><%= order_detail.amount %></td>
  <td>
    <button class="btn btn-primary"><%= t "edit" %></button>
    <button class="btn btn-danger"><%= t "delete" %></button>
  </td>
</tr>
