<tr class="trow">
  <td></td>
  <td>
    <%= image_tag order_detail.product_picture_storage, alt: "", class: "product_img" %>
    <p class="product_name"><%= order_detail.product_name %></p>
  </td>
  <td><%= order_detail.price %></td>
  <td><%= order_detail.quantily %></td>
  <td><%= order_detail.amount %></td>
  <%= render "button_detail" %>
</tr>
