<% provide :title, t("show_order_details_banner") %>
<% provide :small_banner, t("manage_banner") %>
<% provide :big_banner, t("show_order_details_banner") %>

<%= render "add_detail" %>

<div class="row list_order_product">
  <table class="table table-bordered table-hover table_product table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="detail_num"></th>
        <th class="detail_name"><%= t "name" %></th>
        <th class="detail_price"><%= t "price" %></th>
        <th class="detail_count"><%= t "count" %></th>
        <th class="detail_total"><%= t "total_price" %></th>
        <th class="detail_btn"></th>
      </tr>
    </thead>
    <%= render @order_details %>
  </table>
</div>
<%= javascript_pack_tag "edit_order" %>
