<% provide :title, t("show_order_details_banner") %>
<% provide :small_banner, t("manage_banner") %>
<% provide :big_banner, t("show_order_details_banner") %>
<div class="row add_product">
  <%= form_for @order_detail_product, url: order_order_details_path, method: :post, remote: true do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= f.select(:product_id, load_product_select(params[:order_id]), {include_hidden: false}, id: "list-products") %>
    <%= f.hidden_field :order_id, value: params[:order_id] %>
    <%= f.submit t("add"), class: "btn btn-primary add_product_btn", remote: true %>
  <% end %>
</div>
<div class="row list_order_product">
  <table class="table table-bordered table-hover table_product table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="detail_num"></th>
        <th class="detail_name"><%= t "name" %></th>
        <th class="detail_price"><%= t "price" %></th>
        <th class="detail_count"><%= t "count" %></th>
        <th class="detail_total"><%= t "total_price" %></th>
        <th class="detail_btn"></th>
      </tr>
    </thead>
    <%= render @order_details %>
  </table>
</div>
