<% provide :title, t("new_reservation_title") %>
<% provide :small_banner, t("booking") %>
<% provide :big_banner, t("new_reservation_title") %>
<div class="row order-top-banner">
  <%= link_to t("order_list"), admin_orders_path, class: "stretched-link", data: {turbolinks: "false"} %>
  <span>-> <%= t("new") %></span>
</div>
<div class="row create_order">
  <div class="col-md-6 col-md-offset-3 create_order_form">
    <%= form_for [:admin, @order] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label t "name" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label t "phone" %>
      <%= f.text_field :phone, class: "form-control" %>

      <%= f.label t "address" %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label t "person_number" %>
      <%= f.number_field :person_number, min: Settings.min_book_size, require: true, class: "form-control" %>

      <%= f.submit t("submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
