<% if check_order_paid params[:order_id] %>
  <div class="row add_product">
    <%= form_for @order_detail_product, url: admin_order_order_details_path, method: :post, remote: true do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.select(:product_id, load_product_select(params[:order_id]), {include_hidden: false}, id: "list-products") %>
      <%= f.hidden_field :order_id, value: params[:order_id] %>
      <%= f.submit t("add"), class: "btn btn-primary add_product_btn", remote: true %>
    <% end %>
    <div class="pay">
      <%= link_to admin_order_order_details_path do %>
        <button class="btn btn-success btn_pay" data-id="<%= params[:order_id] %>">
          <%= t "paying" %>
        </button>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row add_product">
    <div class="paid">
       <%= image_tag Settings.paid_img, alt: "", class: "paid_img" %>
    </div>
  </div>
<% end %>
