<% provide :title, t("edit_order_title") %>
<% provide :small_banner, t("manage_banner") %>
<% provide :big_banner, t("edit_order_title") %>
<div class="row edit-order-detail-top-row">
  <%= link_to orders_path do %>
    <button class="btn btn-info"><%= t "order_list" %></button>
  <% end %>
  <%= link_to tables_path do %>
    <button class="btn btn-danger"><%= t "table_list" %></button>
  <% end %>
</div>
<%= form_for @order, html: {class: "form-inline"} do |f| %>
  <div class="container-fluid">
    <%= render "shared/error_messages", object: f.object %>
    <%= render partial: "edit_form", locals: {fs: f} %>
    <div class="row edit-order-row-3">
      <%= render "button" %>
    </div>
  </div>
  <div class="row edit-order-table-list">
    <%= render partial: "table_form", locals: {fs: f} %>
  </div>
<% end %>
<%= javascript_pack_tag "edit_order" %>
