<% provide :title, t("edit_order_title") %>
<% provide :small_banner, t("manage_banner") %>
<% provide :big_banner, t("edit_order_title") %>
<div class="row new_category">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @category do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= f.label t "name" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label t "image" %>
    <%= image_tag @category.image, alt: "", class: "preview_img edit_cate" if @category.image.attached? %>
    <%= f.file_field :image, class: "form-control upload_img" %>

    <%= f.submit t("submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
