<% provide :title, t("show_category_banner") %>
<% provide :small_banner, t("manage_banner") %>
<% provide :big_banner, t("show_category_banner") %>
<div class="row add_cate">
  <%= link_to new_category_path do %>
    <button class="btn btn-primary add_cate_btn">
      <%= t "create_category" %>
    </button>
  <% end %>
</div>
<div class="row list_category search_row">
  <%= form_tag search_categories_path, class: "form_search", method: :get do %>
    <%= text_field_tag :search, params[:search], class: "search_box" %>
    <%= submit_tag t("search"), class: "btn btn-primary btn_search_box" %>
  <% end %>
  <%= form_tag sort_categories_path, class: "form_sort", method: :get do %>
    <%= select_tag :sort, options_for_select(cate_sort_opt, params[:sort]) , id: "sort_select" %>
  <% end %>
</div>
<div class="row list_category">
  <table class="table table-bordered table-hover table_index table_cates table-sm">
    <thead class="thead-dark">
      <tr>
        <th class="cates_num"></th>
        <th class="cates_name"><%= t "name" %></th>
        <th class="cates_btn"></th>
      </tr>
    </thead>
    <%= render @categories %>
  </table>
  <div class = "row paginate_row" >
    <%= paginate @categories %>
  </div>
</div>
