<% provide :title, t("edit_user") %>
<% provide :big_banner, t("edit_user") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @user] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label t "name" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label t "email" %>
      <%= f.email_field :email, class: "form-control" %>

      <% if current_user.admin? %>
        <%= f.label t "role" %>
        <%= f.select(:role, options_for_select(load_role_select, @user.role_before_type_cast), {include_hidden: false}) %>
      <% end %>

      <%= f.submit t("edit_acc"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
