<% provide :title, t("list_user_banner") %>
<% content_for :content_header do %>
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark"><%= t("list_user_banner").upcase %></h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">
          <%= link_to t("dashboard"), admin_dashboard_path %>
        </li>
        <li class="breadcrumb-item active"><%= t "list_user_banner" %></li>
      </ol>
    </div>
  </div>
<% end %>
<div class="text-center">
  <%= link_to t("new_user"), new_admin_user_path, class: "btn btn-success top-index-new" %>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools float-left">
          <%= search_form_for @q, url: search_admin_users_path, class: "form-inline" do |f| %>
            <div class="input-group input-group-sm div-top-search">
                <%= f.search_field :name_or_email_or_role_cont, class: "form-control" %>
              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          <% end %>
        </div>

        <div class="card-tools float-right">
        <%= form_tag sort_admin_users_path, class: "form-inline", method: :get do %>
          <div class="form-group">
            <%= select_tag :sort, options_for_select(user_sort_opt, params[:sort]), class: "custom-select sort-select" %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-striped table-hover table-bordered table-user">
          <thead>
             <tr>
              <th class="users_num">#</th>
              <th class="users_name"><%= t "name" %></th>
              <th class="users_email"><%= t "email" %></th>
              <th class="users_join"><%= t "join" %></th>
              <th class="users_role"><%= t "role" %></th>
              <th class="users_status"><%= t "status" %></th>
              <th class="users_btn"><%= t "control" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
        </table>
        <div class = "row paginate_row" >
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
