<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if product.image.attached? %>
        <%= image_tag product.image, alt: product.name.humanize %>
      <% else %>
        <%= image_tag "no_image.png", alt: product.name.humanize %>
      <% end %>
    </div>
    <div class="panel-body">
      <h5 class=""><%= product.name.humanize %></h5>
      <div class="row">
        <div class="pull-left public-product-pull">
          <button type="button" class="btn btn-danger"><%= t "price" %> <span class="badge"><%= product.price %>&nbsp;&#8363;</span></button>
        </div>
        <div class="pull-right public-product-pull">
          <button type="button" class="btn btn-primary"><%= t "stock" %> <span class="badge"><%= product.stock %></span></button>
        </div>
      </div>
      <p class=""><%= product.short_description %></p>

      <%= link_to t("details"), product_path(product), class: "btn btn-primary" %>
    </div>
  </div>
</div>
