<div class="col-sm-3">
  <div class="panel panel-default">
    <div class="panel-heading img_panel">
      <% if product.image.attached? %>
        <%= image_tag product.image, alt: product.name.humanize %>
      <% else %>
        <%= image_tag "no_image.png", alt: product.name.humanize %>
      <% end %>
      <div class="middle">
        <div class="text">
          <%= product.short_description %><br><br>
          <%= link_to t("details"), product_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <h3 class="product_name_search"><%= product.name.humanize %></h3>
      <div class="row">
        <p class="product_price_search"><%= product.price %> VND</p>
      </div>
    </div>
  </div>
</div>
