<% provide :title, t("list_product_title") %>
<% provide :small_banner, t("manage_banner") %>
<% provide :big_banner, t("list_product_title") %>

<div class="container-fluid">
  <div class="product-index-top">
    <%= link_to t("new_product"), new_product_path, class: "btn btn-success" %>
  </div>
  <div>
    <div class="product-index-support">
      <div class="pull-left">
        <%= form_tag sort_products_path, method: :get, class: "form-inline" do %>
          <%= label_tag "sort_type", t("sort"), class: "control-label" %>
          <%= select_tag "product_sort_type", options_for_select(product_sort_list, params[:product_sort_type]), class: "form-control" %>
        <% end %>
      </div>
      <div class="pull-right">
        <%= form_tag search_products_path , method: :get, class: "form-inline" do %>
          <%= text_field_tag "product_search", nil, class: "form-control" %>
          <button type="submit" class="btn btn-info"><%= t "search" %></button>
        <% end %>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th><%= t "name" %></th>
          <th><%= t "category" %></th>
          <th><%= t "price" %></th>
          <th><%= t "stock" %></th>
          <th><%= t "status" %></th>
          <th><%= t "rate" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>
    <div class="row paginate_row ">
      <%= paginate @products %>
    </div>
  </div>
  <div class="modal fade" id="my-modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t "edit_product" %></h4>
        </div>
        <%= form_with url: "", method: "patch", class: "form-horizontal", multipart: true do %>
          <div class="modal-body">
            <div class="form-group">
              <%= label_tag "product_name", t("name"), class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= text_field_tag "product[name]", nil, class: "form-control product_mini_name" %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag "product_category_id", t("category"), class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= select_tag "product[category_id]", options_for_select(load_categories), class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag "product_name", t("price"), class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= number_field_tag "product[price]", nil, class: "form-control", min: Settings.min_price_allow, step: Settings.min_price_allow %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag "product_stock", t("stock"), class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= number_field_tag "product[stock]", nil, class: "form-control", min: Settings.min_price_choosen %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag "product_short_description", t("short_description"), class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= text_area_tag "product[short_description]", nil, class: "form-control", size: "3" %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag "product_image", t("image"), class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= file_field_tag "product[image]", class: "form-control upload_img" %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info" id="btn-product-modal-edit"><%= t "edit" %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
