<% provide :title, t("new_product_title") %>
<% provide :small_banner, t("manage_banner") %>
<% provide :big_banner, t("new_product_title") %>
<div class="row product-index-top">
    <%= link_to t("list_product_title"), products_path, class: "btn btn-primary"%>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @product do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label t "name" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label t "short_description" %>
      <%= f.text_field :short_description, class: "form-control" %>

      <%= f.label t "category" %>
      <%= f.select(:category_id, load_categories, {include_hidden: false}) %>

      <%= f.label t "price" %><span><%= t "currency" %></span>
      <%= f.number_field :price, min: Settings.min_price_allow, class: "form-control", step: Settings.min_price_allow %>

      <%= f.label t "stock" %>
      <%= f.number_field :stock, min: Settings.min_price_choosen, class: "form-control" %>

      <span class="image">
        <%= f.file_field :image, class: "form-control upload_img" %>
      </span>
      <div>
        <%= image_tag "book-frame.png", alt: "", class: "preview_img edit_cate" %>
      </div>

      <%= f.submit t("submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
