<% provide :title, t("show_product_title") %>
<% provide :small_banner, t("manage_banner") %>
<% provide :big_banner, t("show_product_title") %>
<div class="container">
  <div class="col-sm-6 product-show-image">
    <%= image_tag @product.image , class: "product-image card" if @product.image.attached? %>
  </div>

  <div class="col-sm-6 product-show-info">
    <table class="table">
      <tbody>
        <tr>
          <td><%= t "name" %></td>
          <td class="content"><label class="label label-info"><%= @product.name %></label></td>
        </tr>
        <tr>
          <td><%= t "category" %></td>
          <td class="content"><label class="label label-info"><%= @product.category_name %></label></td>
        </tr>
        <tr>
          <td><%= t "price" %></td>
          <td class="content">
            <label class="label label-info"> <%= number_with_delimiter(@product.price, delimiter: ",") %></label>
            <span><%= t "currency" %></span>
          </td>
        </tr>
        <tr>
          <td><%= t "status" %> </td>
          <td class="content"><label class="label label-<%= product_status_check(@product) %>"><%= @product.status %></label></td>
        </tr>
      </tbody>
    </table>
    <div>
      <span><%= t "rate" %>: <%= @product.total_rate %></span>
    </div><br><br>
    <fieldset>
      <legend><b><%= t "short_description" %></b></legend>
      <p><%= @product.short_description %></p>
    </fieldset>
  </div>
</div>
