<tr class="trow">
  <td></td>
  <td>
    <span class="btn-sm bg-danger table-col-table-num"><%= table.table_number %></span>
  </td>
  <td>
    <span class="btn-sm btn-default"><%= table.max_size %></span>
  </td>
  <td>
    <span class="btn <%= check_table_status(table) %>"><%= table.status.humanize %></span>
  </td>
  <td>
    <%= link_to t("edit"), edit_admin_table_path(table), class: "btn btn-info" %>
    <%= form_tag admin_table_path(table), method: :delete, class: "control-action-form" do %>
      <%= render partial: "button", locals: {table: table} %>
    <% end %>
  </td>
</tr>
