<div class="topnav" id="myTopnav">
  <div class="nav-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag Settings.img_logo, alt: "", class: "logo" %>
    <% end %>
  </div>

  <div class="pull-right profile">
    <%= form_tag "", class: "nav-item search_form_nav", method: :get do %>
      <%= text_field_tag :search, params[:search], class: "hover_search form-control", placeholder: "search" %>
      <%= button_tag(type: "submit", class: "btn btn_search") do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    <% end %>

    <%= link_to "Home", "", class: "nav-item nav-link-item" %>
    <%= link_to "About", "", class: "nav-item nav-link-item" %>
    <%= link_to "Menu", "", class: "nav-item nav-link-item" %>
    <%= link_to "Contact", "", class: "nav-item nav-link-item" %>

    <div class="nav-item">
      <%= link_to new_admin_order_path, class: "btn btn-danger" do %>
        <span>Book a table</span>
      <% end %>
    </div>

    <ul class="nav profile_ul">
      <% if user_signed_in? %>
        <li class="dropdown dropdown-toggle" data-toggle="dropdown">
          <div class="user_name_nav">
            <%= image_tag current_user.image, alt: "", class: "user_icon" if current_user.image.attached? %>
            <div class="user_name"><p><%= current_user.name %></p></div>
          </div>
          <ul class="dropdown-menu">
            <li><%= link_to t("profile"), user_path(id: current_user.id), method: :get %></li>
            <li><%= link_to t("history"), "" %></li>
            <li class="divider"></li>
            <li><%= link_to t("logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li class="li_login_path">
          <%= link_to new_user_session_path, class: "link_to_login" do %>
            <button class="btn btn-danger login_btn">
              <%= t "login", class: "login_btn_text" %>
            </button>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
