<div class="topnav" id="myTopnav">
  <div class="nav-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag Settings.img_logo, alt: "", class: "logo" %>
    <% end %>
  </div>

  <div class="pull-right profile">
    <%= search_form_for @q, url: search_path, class: "nav-item search_form_nav" do |f| %>
      <%= f.search_field :name_or_short_description_cont, class: "hover_search form-control", placeholder: t("our_product") %>
      <%= button_tag(type: "submit", class: "btn btn_search") do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    <% end %>

    <%= link_to t("home"), root_path, class: "nav-item nav-link-item" %>
    <%= link_to t("about"), "", class: "nav-item nav-link-item" %>
    <div class="dropdown nav-item nav-link-item nav-sun-inline menu-category">
      <span class="dropdown-toggle" data-toggle="dropdown"><%= t "menu" %><span class="caret"></span></span>
      <ul class="dropdown-menu" id="menu-category-dropdown">
        <li class="divider"></li>
        <% @nav_categories.each do |category| %>
          <li><%= link_to category[1].humanize, category_path(category[0]) %></li>
        <% end %>
      </ul>
    </div>
    <%= link_to t("all_product"), products_path, class: "nav-item nav-link-item" %>

    <div class="nav-item">
      <%= link_to new_order_path, class: "btn btn-danger" do %>
        <span><%= t "book" %></span>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="dropdown profile_ul nav-sun-inline menu-profile">
        <span class="dropdown-toggle user_name_nav" data-toggle="dropdown">
          <%= image_tag current_user.image, alt: "", class: "user_icon" if current_user.image.attached? %>
          <span class="user_name"><p><%= current_user.name %></p></span>
        </span>
        <ul class="dropdown-menu" id="menu-profile-dropdown">
          <li><%= link_to t("profile"), user_path(id: current_user.id) %></li>
          <% if current_user.guest? %>
            <li><%= link_to t("history"), user_orders_path(current_user) %></li>
          <% elsif current_user.staff? %>
            <li><%= link_to t("manage"), admin_orders_url %></li>
          <% elsif current_user.admin? %>
            <li><%= link_to t("manage"), admin_dashboard_url %></li>
          <% end %>
          <li class="divider"></li>
          <li><%= link_to t("logout"), destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
      <ul class="nav profile_ul">
        <li class="li_login_path">
          <%= link_to new_user_session_path, class: "link_to_login" do %>
            <button class="btn btn-danger login_btn">
              <%= t "login", class: "login_btn_text" %>
            </button>
          <% end %>
        </li>
      </ul>
    <% end %>

  </div>
</div>
