<p><%= t "hello" %> <%= @resource.email %>!</p>

<p><%= t "notice_reset_pass" %></p>

<p><%= link_to t("change_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "ignore_email" %></p>
<p><%= t "pass_wont_change" %></p>
