<% provide :title, t("sign_up") %>
<% provide :big_banner, t("sign_up") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label t "name" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label t "email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label t "password" %> <i>(<%= t "note_reset" %>)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label t "confirmation" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label t "curr_pass" %> <i>(<%= t "note_curr_pass" %>)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <%= f.label t "image" %>
      <%= image_tag @user.image, alt: "", class: "preview_img" if @user.image.attached? %>
      <%= f.file_field :image, class: "form-control upload_img" %>

      <div class="actions">
        <%= f.submit t("update"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to t "back", :back %>
  </div>
</div>
